!!! 5
html
	head
		include ../head.html.jade
	
	body

		// Navigation
		include ../menu.html.jade

		// Hero
		section#hero.fixed
			.jumbotron
				.container
					.row
						.col-md-12
							center
								h1
									span.light > 
									span.typer(contenteditable=true, data-toggle="tooltip", title="Try yourself")
								h2 I build applications and MVP's
		
		// About
		section#about.wide
			.container
				.row
					.col-md-10.col-md-offset-1
						center
							h2.black !{cms.get({row: 1, col: 1})}
							p.large
								| !{cms.get({row: 1, col: 2})}
							img.img-responsive(src='images/macbook.png')


		// Text
		section#text.white
			.container
				.row
					.col-md-6
						.row
							.col-md-10.col-md-offset-1
								h3 !{cms.get({row: 3, col: 1})}
								hr
								!{cms.get({row: 3, col: 2})}
								p
									a(href='#', title="Coming soon", data-toggle="tooltip").button Read more!
					.col-md-6
						.row
							.col-md-10.col-md-offset-1
								h3 !{cms.get({row: 4, col: 1})}
								hr
								!{cms.get({row: 4, col: 2})}
								p
									a(href='#', title="Coming soon", data-toggle="tooltip").button Read more!

		// Pause
		section.image.lap_image

		// Big data
		section#data.gold
			.container
				.row
					.col-md-4
						.row
							.col-md-10.col-md-offset-1
								center
									i.fa.fa-flask.large
									h2.black !{cms.get({row: 6, col: 1})}
									p
										| !{cms.get({row: 6, col: 2})}
									p
										a(href='#', title="Coming soon", data-toggle="tooltip").button Read more!
					.col-md-4
						.row
							.col-md-10.col-md-offset-1
								center
									i.fa.fa-sitemap.large
									h2.black !{cms.get({row: 7, col: 1})}
									p
										| !{cms.get({row: 7, col: 2})}
									p
										a(href='#', title="Coming soon", data-toggle="tooltip").button Read more!
					.col-md-4
						.row
							.col-md-10.col-md-offset-1
								center
									i.fa.fa-rocket.large
									h2.black !{cms.get({row: 8, col: 1})}
									p
										| !{cms.get({row: 8, col: 2})}
									p
										a(href='#', title="Coming soon", data-toggle="tooltip").button Read more!

		// About
		section#examples.wide
			.container
				.row
					.col-md-10.col-md-offset-1
						center
							h2.black Lessons I've learned
				.row 
					#carousel.carousel.slide(data-ride='carousel', data-interval='3000ms')
						.carousel-inner
							.item.active
								.row
									.col-md-12
										center
											h3
												| Collecting 
												a(href='#') big data
												|  from the beginning is essential. Use it much and wisely.
											#lines
											p.italic * Collected tweets over a period of one month × sentiment
							.item
								.row
									.col-md-12
										center
											h3 
												| Setting up a good automated 
												a(href='#') workflow
												|  will speed up coding with hours..
											#workflow
											p.italic * I like to use Sublime + Grunt + LiveReload
							.item
								.row
									.col-md-12
										center
											h3 Choose a database that suits your needs. Or combine them!
						ol.carousel-indicators
							li.active(data-target='#carousel', data-slide-to='0')
							li(data-target='#carousel', data-slide-to='1')
							li(data-target='#carousel', data-slide-to='2')

		// Footer
		include ../footer.html.jade