<!DOCTYPE html>
<html>
	<head>
		<%= include ../head.html.ejs %>
	</head>
	
	<body>

		<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Project name</a>
        </div>
        <div class="navbar-collapse collapse">
          <form class="navbar-form navbar-right">
            <a href="/" class="btn btn-danger" data-bypass="true">Close</a>
          </form>
        </div>
      </div>
    </div>

		<!-- Hero -->
		<section id="hero">
			<div class="jumbotron">
				<div class="container">
					<div class="col-md-7">
						<h1>Edit account!</h1>
						<p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron.</p>
					</div>
				</div>
			</div>
		</section>

		<!-- Rest -->
		<section id="signup">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<form action="/account" method="POST">
							<h2 class="form-signin-heading">Name</h2>
							<div class="form-group">
								<label for="">Firstname</label>
							  <input type="text" class="form-control" name="firstname" placeholder="Enter firstname" required="true" value="<%= user.name.first %>">
							</div>
							<div class="form-group">
								<label for="">Lastname</label>
							  <input type="text" class="form-control" name="lastname" placeholder="Enter lastname" required="true" value="<%= user.name.last %>">
							</div><br />
							<h2 class="form-signin-heading">Password and account</h2>
							<div class="form-group">
								<label for="">Email address</label>
							  <input type="text" class="form-control" name="email" placeholder="Enter email-address" required="true" value="<%= user.email %>">
							</div>
							<div class="form-group">
								<label for="">Old password</label>
							  <input type="password" class="form-control" name="password" placeholder="Enter your old password">
							</div>
							<div class="form-group">
								<label for="">New password</label>
							  <input type="password" class="form-control" name="password" placeholder="Enter a new password">
							</div>
							<div class="form-group">
							  <input type="password" class="form-control" name="checkpass" placeholder="Retype your new password">
							</div>
							<input type="hidden" name="_id" value="<%= user._id %>">
							<input type="hidden" name="_method" value="put">
							<p class="pull-right"><button class="btn btn-success" type="submit" role="button">Submit</button></p>
						</form>
					</div>
				</div>
			</div>
		</section>
		<section id="footer">
			<%= include ../footer.html.ejs %>
		</section>
	</body>
</html>